*{
    margin: 0;
    padding: 0;
}
.sudoku{
    width: 462px;
    height: 462px;
    margin: 0 auto;
}
.block{
    width: 154px;
    height: 154px;
    float: left;
    background:rosybrown;
    box-sizing: border-box;
    border: 1px solid black;
}
input{
    text-align: center;
    margin: 10px;
    width: 26px;
    height: 26px;
    float: left;
}
.inputs{
    width: 462px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid black;
}
.read{
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 12px;
    text-align: center;
    background: chartreuse;
    cursor: pointer;
}